.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}
.container h1{
  font-size:50px;
  margin:auto;
  width:260px;
  margin-top:10px;
  display:flex;
  margin: auto;
  margin-bottom: -20px;
}
.icon{
  margin-left: 10px;
}

